@import 'scss/variables.scss';

.sideMenu{
  background: #f2f2f2;
  flex: 0.2;
  color: #000000;
}

 .submenu{
  padding: 1.2rem 1rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ffffff;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
}



.submenu{
  padding: 0;

}


.current-child{
  width: 0.7rem;
}

.submenu-title{
  width: 85%;
  padding: 1rem 1rem;

}

.sub-menu-item{
  border-bottom: 1px solid #ffffff;
  display: flex;
  justify-content: space-between;
  .indicator{
    width: 0.7rem;
  }
  .menu{
    padding: 1.2rem 1rem;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    flex: 1;
    display: flex;
    justify-content: space-between;
  }
}
